.header1 {
    font-weight: bolder;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    background-color: rosybrown;
    text-align: center;
}

#mainbody {

    background-color: bisque;
}

body {
   color: orangered;
   background-color: antiquewhite;
}

p {
    color: peru;
    font-style: italic;

}

.center {

    display: block;
    margin: auto;
}

#mainIMG {
    height: auto;
    width: 400px;
}

#mainH2 {
    font-weight: bold;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainUL {
    font-style: italic;
    font-size: 14px;

}

li {
    color: brown;

}

.container {
    height: fit-content;
    width: fit-content;
    padding: 16px;
    background-color: orangered;
    border: 3px solid brown;
    display: flex;
}